.list {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.dir li:before {
    font-family: 'Glyphicons Halflings';
    content: "\e117";
    position: relative;
    margin-right: 1vw;
}

.file li:before {
    font-family: 'Glyphicons Halflings';
    content: "\e022";
    position: relative;
    margin-right: 0.8vw;
}

.list li:nth-child(even) {
    background-color: #d3d3d3;
}

.list li:nth-child(odd) {
    background-color: #808080;
}
